 <!DOCTYPE html>
 <head>

        <title>Inicio</title>
        
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/bootstrap.js"></script>
 
 </head>
 
 <body>
 
        <!--<div id="titulo">Inicio</div>-->
        <div class="container"> 
            <table class="table table-bordered">
            <thead>
                <tr>
                        <th class="text-center"><a href="/">Inicio</a></th>
                        <th class="text-center"><a href="perfil">Perfil</a></th>
                        <th class="text-center"><a href="servicios">Servicios</a></th>
                        <th class="text-center"><a href="productos">Productos</a></th>
                        <th class="text-center"><a href="formulario">Formulario</a></th>
                </tr>
            </thead>
            
            </table>
        

        <h1>Bienvenidos al Inicio</h1>
        
        </div>
 </body>
 </html>