<html>
<head>
    <title>Perfil</title>

    <link rel="stylesheet" href="css/bootstrap.css">
      
</head>
<body>
    <!-- <div id="titulo">Perfil</div> -->
    <div class="container"> 
      <table class="table table-bordered">
        <thead>
            <tr>
                  <th class="text-center"><a href="/">Inicio</a></th>
                  <th class="text-center"><a href="perfil">Perfil</a></th>
                  <th class="text-center"><a href="servicios">Servicios</a></th>
                  <th class="text-center"><a href="productos">Productos</a></th>
                  <th class="text-center"><a href="formulario">Formulario</a></th>
            </tr>
        </thead>
      
      </table>
  
            <h1>Perfil</h1>
            <h1>Curriculum Vitae</h1>
            <b>Nombre: </b> Diego Argés</br>
            <b>DNI: </b> 31742406</br>
            <b>Fecha de Nac.: </b> 11-03-1994</br>
            <b>Email: </b><a href="mailto: dfarges@hotmail.com">dfarges@hotmail.com</a></br>
            <hr>
            <h2>Carrefour</h2>
            Cajero de 2010-2011.
            <hr>
            <h2>Arena Maipu Hotel</h2>
            Conserje de 2012 a 2013.
            <hr>
            <h2>Cartelone S.A</h2>
            Administrativo 2014-actualidad.
  </div>

</body>
</html>