<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8" />
                <title>Productos</title>
                <link rel="stylesheet" href="css/bootstrap.css">
                

                
        </head>


<body>
    
    <div class="container"> 
        <h1>TABLA Productos</h1>
        <table class="table table-bordered">

                <thead>
                    <th class="text-center"> PRODUCTO </th>
                    <th class="text-center"> CANTIDAD </th>
                </thead>
                <tbody>
                    <% for(let i=0;i<prods.length;i++){ %>

                        <tr>
                            <td class="text-center">  <%= prods[i].nombre %> </td>  
                            <td class="text-center"> <b> <%= prods[i].cantidad %> </b></td>
                        </tr>
                    <% } %>

                </tbody>
            
        </table>
    </div>
</body>
</html>