<html>
<head>
    <title>Productos</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    
</head>
<body>
    <!-- div id="titulo">Productos</div> -->
    <div class="container"> 
        <table class="table table-bordered">
          <thead>
              <tr>
                    <th class="text-center"><a href="/">Inicio</a></th>
                    <th class="text-center"><a href="perfil">Perfil</a></th>
                    <th class="text-center"><a href="servicios">Servicios</a></th>
                    <th class="text-center"><a href="productos">Productos</a></th>
                    <th class="text-center"><a href="formulario">Formulario</a></th>
              </tr>
          </thead>
        </table>
    <h1>Productos</h1>


<div class="container"> 

        <table class="table table-bordered">
    <thead>
        <th> Producto </th>
        <th> Descripción </th>
        <th> Precio </th>
        <th> Cantidad </th>
    </thead>
    <tbody>
        <% for(let i=0;i<prods.length;i++){ %>

            <tr>
                <td> <%= prods[i].nombre %> </td>  
                <td> <%= prods[i].descripcion %></td>
                <td> <b> <%= prods[i].precio %> </b></td>
                <td> <b> <%= prods[i].cantidad %> </b></td>
            </tr>
        <% } %>

    </tbody>
</div>

</body>
</html>

