<html>
<head>
    <title>Servicios</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    
</head>
<body>
    <!--<div id="titulo">Servicios</div> -->
    <div class="container"> 
        <table class="table table-bordered">
          <thead>
              <tr>
                    <th class="text-center"><a href="/">Inicio</a></th>
                    <th class="text-center"><a href="perfil">Perfil</a></th>
                    <th class="text-center"><a href="servicios">Servicios</a></th>
                    <th class="text-center"><a href="productos">Productos</a></th>
                    <th class="text-center"><a href="formulario">Formulario</a></th>
              </tr>
          </thead>
        </table>
      
    
    <h1>Servicios</h1>
    <h2>Mantenimiento</h2>
    Se realizan mantenimientos de sistemas.
    <hr><h2>Desarrollo</h2>
    Desarrollamos sistemas a medida.
    <hr><h2>Reparación y Actualización</h2>
    Reparamos tu PC y actualizamos tu antivirus.

    </div>

</body>
</html>