<!DOCTYPE html>
<html>
<body>
    <h1>Hola EJS1</h1>
    <p><%= nombre %></p>

    <ul>
        <% for(let i=0;i<materias.length;i++){ %>

            <li> <%= materias[i] %> </li>

        <% } %>

    </ul>

</body>
</html>

